@tailwind base;
@tailwind components;
@tailwind utilities;

/* Memaksa background terang dan teks gelap di seluruh halaman */
body {
  background-color: #FCFBF6 !important;
  color: #111827 !important;
}

html {
  scroll-behavior: smooth;
}